@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

.container {
  width: 1440px;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-pale-blue);
  background-image: url('images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
}

.app {
  height: auto;
  width: 450px;
  background: white;
  border-radius: 20px;
}

.app img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.app .content {
  text-align: center;
  padding: 40px;
}

.app .content h3 {
  font-size: 26px;
  font-weight: 900;
  color: var(--neutral-dark-blue);
  margin-bottom: 20px;
}

.app .content p {
  font-weight: 700;
  line-height: 24px;
  color: var(--neutral-desaturated-blue);
  margin-bottom: 20px;
}

.app .content .plan {
  width: 100%;
  background: var(--neutral-very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 25px;
}

.app .content .plan .left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.app .content .plan .annual-plan h5 {
  color: var(--neutral-dark-blue);
  font-weight: 900;
}

.app .content .plan .annual-plan p {
  margin-bottom: 0px;
}


.app .content .plan .right {
  color: var(--primary-bright-blue);
  text-decoration: underline;
  font-size: 15px;
  font-weight: 700;
}

.app .content .plan .right:hover {
  color: rgba(56, 41, 224, .7);
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.app .content .payment {
  width: 100%;
  padding: 15px 0px;
  background: var(--primary-bright-blue);
  color: white;
  border-radius: 10px;
  font-size: 15px;
  margin: 30px 0px;
  box-shadow: 0px 18px 10px 0px rgba(56, 41, 224, .1);
}

.app .content .payment:hover {
  background: rgba(56, 41, 224, .7);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.app .content .cancel-order {
  font-weight: 900;
  color: var(--neutral-desaturated-blue);
  font-size: 15px;
}

.app .content .cancel-order:hover {
  color: var(--neutral-dark-blue);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.attribution {
  margin: 15px auto 5px;
}

.attribution a {
  font-size: 11px;
}

/* responsive */
@media screen and (max-width: 375px) {
  .container {
    width: 375px;
    height: auto;
    border: none;
    background-image: url('images/pattern-background-mobile.svg');
    overflow: hidden;
  }

  .app {
    margin: 75px auto;
    height: auto;
    width: 330px;
  }

  .app img {
    width: 100%;
  }

  .app .content {
    text-align: center;
    padding: 25px;
    padding-bottom: 35px;
  }

  .app .content h3 {
    font-size: 22px;
  }

  .app .content .plan {

    padding: 15px;
  }

  .app .content .plan .annual-plan h5 {
    font-size: 15px;
  }

  .app .content .plan .annual-plan p {
    font-size: 15px;
  }

  .app .content .plan .right {
    font-size: 14px;
  }

}